/.idea
/.vscode
/node_modules
/public/hot
/public/storage
/vendor

/storage/*.key
/public/mix-manifest.json
/public/vendor/*

.env
.env.backup
.phpunit.result.cache
.DS_Store
auth.json
docker-compose.override.yml
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
